################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/FfmpegRegisterExample
/ConsoleApplication1/Debug
/Debug
